.navMenu {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.link{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-stretch: normal;
}
